/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    font-family: sans-serif;
    font-size: 1.6rem;
}
p{
    font-size: 2rem;
    color: #AAAAAA;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin:0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    margin:0 0 5rem 0;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3rem;
}
/*Header*/
.header{
    width: 100%;    
    background-color: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
@media (min-width: 768px){
    .navegacion-principal{
        display: flex;
    }
    .flujo a{
        margin-left: 4rem;
    }

}
.navegacion-principal{
       width: 100%;
       position: absolute;
       top: 0;
       left:0;
       display: flex;
       align-items: center;
       justify-content: space-around;
}
.navegacion-principal ul li{
    list-style: none;
    display: inline-block;
    margin-left: 4rem;
}
.navBrand{
    color: white;
}
.navegacion-principal a{
    text-decoration: none;
    color: black;
    font-size: 2.2rem;
}
.navegacion-principal a:hover{
    color:pink;
}
.redes{
    display: flex;
}
.redes a{
    padding-left: .4rem;
}
.container-fluid{
    background-color: white;
}
@media (min-width: 769px){
    .container-fluid{
        background: rgba(204, 204, 204, 0.1)
    }
    
}
/*video*/
.videoDiv{
    height: 100%;
    width: 100%;
}
.backVideo{
    position: absolute;
    width: 100%;
    z-index: -1;    
    top:0;
    overflow: hidden;

}
.fraseVideo h2{
    color: white;
    font-size: 3rem;
    margin-left: 3rem;  
}
.fraseVideo{
    margin-top:-50rem;
}
@media (min-width: 960px){
    .fraseVideo h2{
        margin:0 auto;
        font-size: 7rem;
    }
    .fraseVideo{
        margin-top: 0;
    }    
}
/*imgs*/
.cuatroImgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 100%;
    background-color: white;
    margin-top: -55rem;
}
.cuatroImgs ul{
    list-style: none;
}
.imgDeco{
    height: 100px;
    width: 100px;
}
@media (min-width: 769px){
    .cuatroImgs{
        flex-direction: row;
        margin-top:0;
    }
}
/*cajas contenido*/
.contenido-box{
    background-color: #AAAAAA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}
.boxDiv{
    background-color: white;
    display: block;
    margin-top: 4rem;
    margin-bottom: 4rem;    
}
.boxDiv:first-child{
    margin-left: 2rem;
}
.boxDiv:last-child{
    margin-right: 2rem;
}

