@import url('https://fonts.cdnfonts.com/css/antique-wonders');

:root{
    --fuenteHeading: 'Antique Wonders', sans-serif;;
    --fuenteParrafos: 'PT Sans', sans-serif;
    --primario: #de5e32;
    --secundario: #e6a631;
    --rosa: #fce5d4;
    --azul: #5d5dd1;
    --marron: #9f4119;
    --crema:#FCF5EB;
    --gris: #e1e1e1;
    --blanco: #FFFF;
    --negro: #000;
    --celeste: #e7e0fc;
    --grisFondo:#f5f5f5;
}

/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: sans-serif;
    font-size: 1.6rem;
}
p{
    font-size: 2rem;
    color: #AAAAAA;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin:0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    margin:0 0 5rem 0;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3rem;
}
.colorAzul{
    color: var(--azul);
}
.colorAmarillo{
    color: var(--secundario);
}
.colorNaranja{
    color:var(--primario)
}
.colorMarron{
    color:var(--marron)
}
/*Header*/
.header{
    width: 100%;    
    position: relative;  
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    
}
nav{
    width: 100%;
}
@media (min-width: 768px){
    .header{
        height: 100vh;
    }
    .navegacion-principal{
        display: flex;
    }
    .flujo a{
        margin-left: 4rem;
    }

}
.navegacion-principal{
       width: 100%;
       position: absolute;
       top: 0;
       left:0;
       display: flex;
       align-items: center;
       justify-content: space-around;
}
.navegacion-principal ul li{
    list-style: none;
    display: inline-block;
    margin-left: 4rem;
}
.navBrand{
    color: white;
    font-family: var(--fuenteHeading);
    font-size: 4rem;
}
.navegacion-principal a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2.2rem;
}
.navegacion-principal a:hover{
    color:var(--rosa);
}
.redes{
    display: none;
}
.container-fluid{
    background-color: #fcab7b;
    
}

@media (min-width: 769px){
    .container-fluid{
        background: rgba(0, 0, 0, 0.6);
        
    }
    .redes{
        display: flex;
        align-items: center;
    }
    .redes a{
        padding-left: .4rem;
    }
    .navbar-brand h1{
        margin:0;        
        display: flex;
        text-align: center;
        align-items: center;
    }
    
}
.navbar-collapse {
    flex-grow: 0 !important;
}
/*video*/
.videoDiv{
    height: 100%;
    width: 100%;
}
.backVideo{
    position: absolute;
    z-index: -1;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;

}
.fraseVideo h2{
    color: white;
    font-family: var(--fuenteHeading);
    font-size: 3rem;
    margin-left: 3rem;  
}

@media (min-width: 960px){
    .fraseVideo h2{
        margin:0 auto;
        font-size: 4rem;
        text-align: center;
        
    }
    .fraseVideo{
        margin-top: 0;
    }    
}
/*imgs*/
.cuatroImgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    width: 100%;
    background-color: var(--celeste);
    padding-bottom: 10rem;
}
@media (min-width: 769px){
    .cuatroImgs{
        height: 50rem;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 1rem;
    }
    .cuatroImgs div{
        height:40rem;
        width: 25%;
    }

}

.cuatroImgs ul{
    list-style: none;
}
.imgDeco{
    width: 100%;
    height: 100%;
}
@media (min-width: 768px){
    
    .imgDeco{
        height:100%;
        width: 100%;
        display: block;
        object-fit: fill;
    }
   
    .cuatroImgs div:first-child{
        margin-top: 20rem;
        margin-bottom: 0;
    }
    .cuatroImgs div:nth-child(2){
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .cuatroImgs div:nth-child(3){
        margin-top: 0;
        margin-bottom: 10rem;
    }
    .cuatroImgs div:last-child{
        margin-top: 15rem;
        margin-right: 0;
    }

}

/*cajas contenido*/
.contenido-servicios{
    background-color: var(--grisFondo);
}
.servicios-heading{
    text-align: center;
}
.servicios-heading h2{
    margin-top: 2rem;
    display: inline-block;
    padding: 2rem;
    border-radius: 35%;
    background-color: var(--blanco);
    color: var(--azul);
}
.contenido-box{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

@media (min-width: 768px){
    .contenido-box{
        flex-direction: row;        
    }
    
}
.boxDiv{
    width: 100%;
    padding: .5rem;
    background-color: white;
    display: block;
    margin-top: 4rem;
    margin-bottom: 4rem;    
    border-radius: 25px;
}
.boxDiv h3{
    font-size: 2.6rem;
}

.boxDiv h4{    
    color: var(--primario);
    font-size: 2.2rem;
}
.boxDiv p{    
    margin-top: 0;
    margin-bottom: 0;
}
.boxDiv video{
    border-radius: 25px;
}
@media (min-width: 769px){
    .boxDiv{
        padding: 2rem;
        width: 25%;
    }
    .boxDiv:first-child{
        margin-left: 2rem;
    }
    .boxDiv:last-child{
        margin-right: 2rem;
    }
    
}
.square{
    background-color: var(--rosa);
    border-radius: 15%;
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.square svg{
    justify-self: center;
    align-content: center;
}
.rosado{
    background-color: #ffe6f1;
}
.celeste{
    background-color: #b6f0fe;
}
.verde{
    background-color: #dbfec1;
}
.gris{
    background-color: var(--grisFondo);
}
.comunicacion{
    background-color: var(--rosa);
}

/*contactanos*/
.contactaNos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primario);
}
@media (min-width: 768px){
    .contactaNos{
        flex-direction: row;
    }
    
}
.imagen-contactaNos{
    height: 40rem;
    width: 40rem;
}
.imagen-contactaNos img{
    width: 100%;
    height: 100%;
}
@media (min-width: 768px){
    .imagen-contactaNos{
    display: flex;
    align-items: center;
    height: 60rem;
    width: 60rem;
}
    .imagen-contactaNos video{
        height: 45rem;
    }
}
.info-contactaNos{
    background-color: var(--blanco);
    margin-top:-10rem;
    margin-left:0;
    height: 25rem;
    width: 30rem;
    border-radius: 18%;
    padding:2rem;
    align-items: center;
}
.info-contactaNos h3{
    text-align: center;
    font-family: var(--fuenteHeading);
}
.info-contactaNos p{
    font-size: 1.5rem;
}
@media (min-width: 768px){
    .info-contactaNos{
        margin-top: 13rem;
        margin-left: -12rem;        
    }
    
}
.ancla{
    text-decoration: none;
    color: var(--azul);
    font-size: 1.4rem;
}



/*Footer*/

footer{
    background-color: lightgray;
    text-align: center;
    margin-bottom: 0;
}
footer p{
    font-size: 12px;
    margin: 0;
    padding-bottom: 0;
}
.whatsapp{
    display: none;
}
.whatsapp-icon {
    display: none;
  }

@media (min-width: 768px){
    .whatsapp {
        display: block;
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        z-index:100;
      }
      
      .whatsapp-icon {
        display: block;
        margin-top:13px;
      }
    
}
